USE [master]
GO
/****** Objeto: Database [BD_CINEPELIS] Fecha de script: 21/06/2026 15:04:13 ******/
CREATE DATABASE [BD_CINEPELIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_CINEPELIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BD_CINEPELIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_CINEPELIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BD_CINEPELIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_CINEPELIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_CINEPELIS]
GO
/****** Objeto: Table [dbo].[Cartelera] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartelera](
	[IdCartelera] [int] IDENTITY(1,1) NOT NULL,
	[IdPelicula] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinalizacion] [date] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
	[Activo] [bit] NOT NULL,
	[EsPromocion] [bit] NOT NULL,
	[DescripcionPromocion] [varchar](200) NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
	[IdCine] [int] NOT NULL,
 CONSTRAINT [PK__Carteler__61A13F6A21A33A17] PRIMARY KEY CLUSTERED 
(
	[IdCartelera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Horarios] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[IdCine] [int] NOT NULL,
	[IdCartelera] [int] NULL,
	[NumSala] [int] NOT NULL,
	[TipoSala] [varchar](20) NULL,
	[FechaInicio] [date] NULL,
	[FechaFinalizacion] [date] NULL,
	[PrecioVentaPublico] [decimal](10, 2) NOT NULL,
	[TotalAsientos] [int] NOT NULL,
	[CantidadVentaPublico] [int] NOT NULL,
	[CantidadCorporativo] [int] NULL,
	[CantidadMarketing] [int] NULL,
	[EntradasVendidas] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK__Horarios__1539229BD43B0D91] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Peliculas] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[IdPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Clasificacion] [varchar](10) NOT NULL,
	[Sinopsis] [varchar](max) NULL,
	[Estreno] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaIngreso] [date] NULL,
	[FechaSalida] [date] NULL,
	[Idioma] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
	[Imagen] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdHorario] [int] NOT NULL,
	[FechaVenta] [datetime] NULL,
	[CantidadEntradas] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[IGV] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[NumeroAutorizacion] [varchar](50) NULL,
	[Ultimos4Tarjeta] [varchar](4) NULL,
	[Estado] [varchar](20) NULL,
	[CodigoTicket] [varchar](50) NULL,
	[UsuarioRegistro] [int] NULL,
	[QRTexto] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ReportePeliculas] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReportePeliculas]
AS
SELECT

P.IdPelicula,
P.Titulo,
P.Genero,
P.Clasificacion,
P.Duracion,
P.Estreno,

ISNULL(
(
SELECT COUNT(*)
FROM Ventas V
INNER JOIN Horarios H
ON V.IdHorario=H.IdHorario
INNER JOIN Cartelera C
ON H.IdCartelera=C.IdCartelera
WHERE C.IdPelicula=P.IdPelicula
),0)
AS CantidadVistas,

ISNULL(
(
SELECT SUM(V.Total)
FROM Ventas V
INNER JOIN Horarios H
ON V.IdHorario=H.IdHorario
INNER JOIN Cartelera C
ON H.IdCartelera=C.IdCartelera
WHERE C.IdPelicula=P.IdPelicula
),0)
AS TotalIngresos

FROM Peliculas P
WHERE P.Activo=1;
GO
/****** Objeto: View [dbo].[vw_Reporte_Peliculas] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Reporte_Peliculas]
AS
SELECT

P.IdPelicula,
P.Titulo,
P.Genero,
P.Clasificacion,
P.Duracion,
P.Estreno,

V.FechaVenta,

COUNT(*) AS CantidadVistas,

SUM(V.Total) AS TotalIngresos

FROM Ventas V

INNER JOIN Horarios H
ON V.IdHorario = H.IdHorario

INNER JOIN Cartelera C
ON H.IdCartelera = C.IdCartelera

INNER JOIN Peliculas P
ON C.IdPelicula = P.IdPelicula

GROUP BY

P.IdPelicula,
P.Titulo,
P.Genero,
P.Clasificacion,
P.Duracion,
P.Estreno,
V.FechaVenta;
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Celular] [varchar](20) NOT NULL,
	[Email] [varchar](150) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
	[Password] [varchar](100) NULL,
	[TokenAcceso] [varchar](20) NULL,
	[FechaToken] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ReporteClientes] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteClientes]
AS
SELECT

C.IdCliente,
C.Dni,
C.Nombre,
C.Apellido,
C.Celular,
C.Email,
C.FechaRegistro,

COUNT(V.IdVenta) AS CantidadCompras,

ISNULL(SUM(V.Total),0) AS TotalGastado

FROM Clientes C

LEFT JOIN Ventas V
ON C.IdCliente = V.IdCliente

GROUP BY

C.IdCliente,
C.Dni,
C.Nombre,
C.Apellido,
C.Celular,
C.Email,
C.FechaRegistro;
GO
/****** Objeto: Table [dbo].[DetalleVentaDulceria] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentaDulceria](
	[IdDetalleVentaDulceria] [int] IDENTITY(1,1) NOT NULL,
	[IdVentaDulceria] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NULL,
	[SubTotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVentaDulceria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ProductosDulceria] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosDulceria](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Imagen] [varchar](500) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
	[EsPromocion] [bit] NOT NULL,
	[DescripcionPromocion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentasDulceria] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasDulceria](
	[IdVentaDulceria] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaVenta] [datetime] NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[IGV] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[MetodoPago] [varchar](20) NULL,
	[NumeroAutorizacion] [varchar](50) NULL,
	[Ultimos4Tarjeta] [varchar](4) NULL,
	[Estado] [varchar](20) NULL,
	[CodigoTicket] [varchar](50) NULL,
	[QrTexto] [varchar](max) NULL,
	[UsuarioRegistro] [int] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVentaDulceria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ReporteDulceria] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteDulceria]
AS
SELECT

P.IdProducto,
P.Nombre,
P.Categoria,
P.Precio,
P.Stock,

VD.FechaVenta,

SUM(D.Cantidad) AS CantidadVendida,

SUM(D.SubTotal) AS TotalVendido

FROM ProductosDulceria P

INNER JOIN DetalleVentaDulceria D
ON P.IdProducto = D.IdProducto

INNER JOIN VentasDulceria VD
ON D.IdVentaDulceria = VD.IdVentaDulceria

GROUP BY

P.IdProducto,
P.Nombre,
P.Categoria,
P.Precio,
P.Stock,
VD.FechaVenta;
GO
/****** Objeto: Table [dbo].[Cines] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cines](
	[IdCine] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[GoogleMaps] [varchar](500) NULL,
	[Imagen] [varchar](500) NULL,
	[CantidadSalas2D] [int] NULL,
	[CantidadSalas3D] [int] NULL,
	[CantidadSalas4K] [int] NULL,
	[CantidadSalasPrime] [int] NULL,
	[CantidadSalasEventos] [int] NULL,
	[IdUsuario] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
 CONSTRAINT [PK__Cines__394B724B3556A94A] PRIMARY KEY CLUSTERED 
(
	[IdCine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ReporteVentas] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteVentas]
AS
SELECT

V.IdVenta,

V.FechaVenta,

CL.Nombre + ' ' + CL.Apellido AS Cliente,

CI.Nombre AS Cine,

P.Titulo AS Pelicula,

V.CantidadEntradas,

V.SubTotal,
V.IGV,
V.Total,
V.MetodoPago

FROM Ventas V

INNER JOIN Clientes CL
ON V.IdCliente = CL.IdCliente

INNER JOIN Horarios H
ON V.IdHorario = H.IdHorario

INNER JOIN Cartelera C
ON H.IdCartelera = C.IdCartelera

INNER JOIN Peliculas P
ON C.IdPelicula = P.IdPelicula

INNER JOIN Cines CI
ON C.IdCine = CI.IdCine;
GO
/****** Objeto: View [dbo].[vw_ReporteCines] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteCines]
AS
SELECT

CI.IdCine,
CI.Nombre,
CI.Ciudad,

V.FechaVenta,

COUNT(*) AS CantidadVisitantes,

SUM(V.Total) AS TotalRecaudado

FROM Ventas V

INNER JOIN Horarios H
ON V.IdHorario = H.IdHorario

INNER JOIN Cines CI
ON H.IdCine = CI.IdCine

GROUP BY

CI.IdCine,
CI.Nombre,
CI.Ciudad,
V.FechaVenta;
GO
/****** Objeto: View [dbo].[vw_ReporteOcupacionSala] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteOcupacionSala]
AS
SELECT

    H.IdHorario,

    CI.IdCine,

    CI.Nombre AS Cine,

    P.IdPelicula,

    P.Titulo AS Pelicula,

    H.NumSala,

    H.TipoSala,

    H.FechaInicio,

    H.FechaFinalizacion,

    H.TotalAsientos,

    H.EntradasVendidas,

    (H.TotalAsientos - H.EntradasVendidas)
    AS Disponibles,

    CAST(
    (
        CAST(H.EntradasVendidas AS DECIMAL(10,2))
        /
        NULLIF(H.TotalAsientos,0)
    )*100
    AS DECIMAL(10,2))
    AS PorcentajeOcupacion,

    CASE

        WHEN
        (
            CAST(H.EntradasVendidas AS DECIMAL(10,2))
            /
            NULLIF(H.TotalAsientos,0)
        )*100 >=80

        THEN 'ALTA'

        WHEN
        (
            CAST(H.EntradasVendidas AS DECIMAL(10,2))
            /
            NULLIF(H.TotalAsientos,0)
        )*100 >=50

        THEN 'MEDIA'

        ELSE 'BAJA'

    END
    AS NivelOcupacion,

    CASE

        WHEN
        H.EntradasVendidas=H.TotalAsientos

        THEN 'SALA LLENA'

        ELSE 'DISPONIBLE'

    END
    AS EstadoSala

FROM Horarios H

INNER JOIN Cartelera C
ON H.IdCartelera=C.IdCartelera

INNER JOIN Peliculas P
ON C.IdPelicula=P.IdPelicula

INNER JOIN Cines CI
ON H.IdCine=CI.IdCine;
GO
/****** Objeto: View [dbo].[vw_Dashboard] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Dashboard]
AS
SELECT

-- Películas activas
(
SELECT COUNT(*)
FROM Peliculas
WHERE Activo = 1
)
AS TotalPeliculas,

-- Clientes activos
(
SELECT COUNT(*)
FROM Clientes
WHERE Activo = 1
)
AS TotalClientes,

-- Entradas vendidas
(
SELECT COUNT(*)
FROM Ventas
)
AS TotalVentas,

-- Ingresos por entradas
(
SELECT ISNULL(SUM(Total),0)
FROM Ventas
)
AS TotalIngresosEntradas,

-- Ingresos por dulcería
(
SELECT ISNULL(SUM(Total),0)
FROM VentasDulceria
)
AS TotalIngresosDulceria,

-- Ingresos generales
(
SELECT ISNULL(SUM(Total),0)
FROM Ventas
)
+
(
SELECT ISNULL(SUM(Total),0)
FROM VentasDulceria
)
AS TotalIngresosGenerales,

-- Productos activos
(
SELECT COUNT(*)
FROM ProductosDulceria
WHERE Activo = 1
)
AS TotalProductos,

-- Cines activos
(
SELECT COUNT(*)
FROM Cines
WHERE Activo = 1
)
AS TotalCines;
GO
/****** Objeto: View [dbo].[vw_PeliculaMasVista] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PeliculaMasVista]
AS
SELECT TOP 1

P.Titulo,

COUNT(*) AS CantidadVistas,

SUM(V.Total) AS TotalRecaudado

FROM Ventas V

INNER JOIN Horarios H
ON V.IdHorario = H.IdHorario

INNER JOIN Cartelera C
ON H.IdCartelera = C.IdCartelera

INNER JOIN Peliculas P
ON C.IdPelicula = P.IdPelicula

GROUP BY P.Titulo

ORDER BY CantidadVistas DESC;
GO
/****** Objeto: View [dbo].[vw_ProductoMasVendido] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductoMasVendido]
AS
SELECT TOP 1

P.Nombre,

SUM(D.Cantidad) AS CantidadVendida,

SUM(D.SubTotal) AS TotalVendido

FROM ProductosDulceria P

INNER JOIN DetalleVentaDulceria D
ON P.IdProducto = D.IdProducto

GROUP BY P.Nombre

ORDER BY CantidadVendida DESC;
GO
/****** Objeto: Table [dbo].[CategoriasDulceria] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasDulceria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleVenta] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[Asiento] [varchar](10) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReservaTemporal] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaTemporal](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdHorario] [int] NOT NULL,
	[Asiento] [varchar](10) NOT NULL,
	[FechaReserva] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 21/06/2026 15:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Celular] [varchar](9) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[EsAdministrador] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[Rol] [varchar](20) NULL,
	[TokenAcceso] [varchar](20) NULL,
	[FechaToken] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Celular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cartelera] ADD  CONSTRAINT [DF__Cartelera__Fecha__06CD04F7]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cartelera] ADD  CONSTRAINT [DF__Cartelera__Activ__05D8E0BE]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cartelera] ADD  CONSTRAINT [DF_Cartelera_EsPromocion]  DEFAULT ((0)) FOR [EsPromocion]
GO
ALTER TABLE [dbo].[Cartelera] ADD  CONSTRAINT [DF_Cartelera_DescripcionPromocion]  DEFAULT ('') FOR [DescripcionPromocion]
GO
ALTER TABLE [dbo].[Cartelera] ADD  CONSTRAINT [DF_Cartelera_Porcentaje]  DEFAULT ((0)) FOR [PorcentajeDescuento]
GO
ALTER TABLE [dbo].[Cartelera] ADD  DEFAULT ((1)) FOR [IdCine]
GO
ALTER TABLE [dbo].[CategoriasDulceria] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__CantidadS__5CD6CB2B]  DEFAULT ((0)) FOR [CantidadSalas2D]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__CantidadS__5DCAEF64]  DEFAULT ((0)) FOR [CantidadSalas3D]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__CantidadS__5EBF139D]  DEFAULT ((0)) FOR [CantidadSalas4K]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__CantidadS__5FB337D6]  DEFAULT ((0)) FOR [CantidadSalasPrime]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__CantidadS__60A75C0F]  DEFAULT ((0)) FOR [CantidadSalasEventos]
GO
ALTER TABLE [dbo].[Cines] ADD  CONSTRAINT [DF__Cines__Activo__3F466844]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cines] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF__Horarios__Cantid__45F365D3]  DEFAULT ((0)) FOR [CantidadCorporativo]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF__Horarios__Cantid__46E78A0C]  DEFAULT ((0)) FOR [CantidadMarketing]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF__Horarios__Entrad__70DDC3D8]  DEFAULT ((0)) FOR [EntradasVendidas]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF__Horarios__Activo__47DBAE45]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF_Horarios_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Horarios] ADD  CONSTRAINT [DF_Horarios_FechaActualizacion]  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Peliculas] ADD  DEFAULT ((0)) FOR [Estreno]
GO
ALTER TABLE [dbo].[Peliculas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Peliculas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductosDulceria] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductosDulceria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductosDulceria] ADD  CONSTRAINT [DF_Producto_EsPromocion]  DEFAULT ((0)) FOR [EsPromocion]
GO
ALTER TABLE [dbo].[ProductosDulceria] ADD  CONSTRAINT [DF_Producto_DescripcionPromocion]  DEFAULT ('') FOR [DescripcionPromocion]
GO
ALTER TABLE [dbo].[ReservaTemporal] ADD  DEFAULT (getdate()) FOR [FechaReserva]
GO
ALTER TABLE [dbo].[ReservaTemporal] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EsAdministrador]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Rol]  DEFAULT ('USUARIO') FOR [Rol]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('PAGADO') FOR [Estado]
GO
ALTER TABLE [dbo].[VentasDulceria] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[VentasDulceria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cartelera]  WITH CHECK ADD  CONSTRAINT [FK_Cartelera_Cines] FOREIGN KEY([IdCine])
REFERENCES [dbo].[Cines] ([IdCine])
GO
ALTER TABLE [dbo].[Cartelera] CHECK CONSTRAINT [FK_Cartelera_Cines]
GO
ALTER TABLE [dbo].[Cartelera]  WITH CHECK ADD  CONSTRAINT [FK_Cartelera_Pelicula] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Peliculas] ([IdPelicula])
GO
ALTER TABLE [dbo].[Cartelera] CHECK CONSTRAINT [FK_Cartelera_Pelicula]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVentaDulceria]  WITH CHECK ADD  CONSTRAINT [FK_DVD_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[ProductosDulceria] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVentaDulceria] CHECK CONSTRAINT [FK_DVD_PRODUCTO]
GO
ALTER TABLE [dbo].[DetalleVentaDulceria]  WITH CHECK ADD  CONSTRAINT [FK_DVD_VENTA] FOREIGN KEY([IdVentaDulceria])
REFERENCES [dbo].[VentasDulceria] ([IdVentaDulceria])
GO
ALTER TABLE [dbo].[DetalleVentaDulceria] CHECK CONSTRAINT [FK_DVD_VENTA]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Cine] FOREIGN KEY([IdCine])
REFERENCES [dbo].[Cines] ([IdCine])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horario_Cine]
GO
ALTER TABLE [dbo].[ReservaTemporal]  WITH CHECK ADD  CONSTRAINT [FK_ReservaTemporal_Horario] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[Horarios] ([IdHorario])
GO
ALTER TABLE [dbo].[ReservaTemporal] CHECK CONSTRAINT [FK_ReservaTemporal_Horario]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdHorario])
REFERENCES [dbo].[Horarios] ([IdHorario])
GO
ALTER TABLE [dbo].[VentasDulceria]  WITH CHECK ADD  CONSTRAINT [FK_VD_CLIENTE] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[VentasDulceria] CHECK CONSTRAINT [FK_VD_CLIENTE]
GO
USE [master]
GO
